.page-box {
  // 排版
  display: flex;
  flex-direction: column; // 垂直排列
  justify-self: center; // 垂直置中
  align-items: center; // 水平置中
  gap: 50px;

  // 盒模型
  width: 50vw;
  height: auto;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 5%;
  box-sizing: border-box;
  // 背景色
  background: linear-gradient(135deg, #0f172a 0%, #1e1b4b 100%);
  // 陰影
  box-shadow: 0 0 8px rgba(92, 255, 252, 0.5);

  // RWD: 手機版時變寬
  @media (max-width: 600px) {
    width: 95vw; // 手機版改佔 95%
    padding: 16px;
  }
}

.role-box {
  // 排版
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  // 盒模型
  width: 80%;
  height: auto;
  padding: 16px;
  box-sizing: border-box;

  // 裝飾
  background: rgba(30, 41, 59, 0.95); // 比大卡片的背景更亮 更不透明
  border: 1px solid rgba(56, 189, 248, 0.5); // 極細亮藍邊框
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4); // 陰影比大卡片還強
  border-radius: 8px;
}


h1 {
  text-align: center;
  color: aliceblue;
  text-shadow: 0 0 8px rgba(92, 255, 252, 0.5);
}

p{
  font-size: 25px;
  color: aliceblue;
}

ul {
  font-size: 25px;
  list-style-type: disc;
  color: aliceblue;
}
