.mat-mdc-radio-button~.mat-mdc-radio-button {
  margin-left: 16px;
}

.radio-white {
  --mat-sys-on-surface: #ff5d98; // label-text-color
  --mat-sys-primary: rgb(255, 116, 176); // selected-focus-icon-color
}
