<nav class="nav-box">
  <a routerLink="/main-view" routerLinkActive="active" class="button-home">主頁</a>

  <div class="dropdown">
    <div class="drop-btn">
      練習題庫 <span class="arrow">▼</span>
    </div>

    <div class="dropdown-content">
      <a routerLink="/html-exercise" routerLinkActive="active">html練習</a>
      <a routerLink="/css-exercise" routerLinkActive="active">css練習</a>
      <a routerLink="/resume-exercise" routerLinkActive="active">履歷製作練習</a>
      <a routerLink="/binding-exercise" routerLinkActive="active">繫結<br>(資料綁定)</a>
      <a routerLink="/level-calculator" routerLinkActive="active">繫結練習<br>(等級計算機)</a>
      <a routerLink="/bmi-calculator" routerLinkActive="active">ts練習<br>(BMI計算機)</a>
      <a routerLink="/io-demo" routerLinkActive="active">組件資料傳遞</a>
      <a routerLink="/array-demo" routerLinkActive="active">陣列顯示<br>(for迴圈)</a>
      <a routerLink="/todo" routerLinkActive="active">待辦清單</a>
      <a routerLink="/weather" routerLinkActive="active">天氣預報<br>(Api串接)</a>
      <a routerLink="/mat-table-demo" routerLinkActive="active">&#64;angular/material<br>table</a>
      <a routerLink="/mat-dialog-demo" routerLinkActive="active">&#64;angular/material<br>dialog</a>
      <a routerLink="/subject-demo" routerLinkActive="active">訂閱</a>
      <a routerLink="/loading-demo" routerLinkActive="active">&#64;angular/material<br>spinner</a>
      <a routerLink="/mat-drawer-demo" routerLinkActive="active">&#64;angular/material<br>sidenav</a>
      <a routerLink="/mat-toolbar-demo" routerLinkActive="active">&#64;angular/material<br>toolbar</a>
      <a routerLink="/mat-radio-demo" routerLinkActive="active">&#64;angular/material<br>radio</a>
      <a routerLink="/checkbox-demo" routerLinkActive="active">checkbox陣列練習</a>
    </div>
  </div>
</nav>
