<nav class="nav-box">
  <a routerLink="/main-view" routerLinkActive="active" class="button-home">主頁</a>

  <div class="dropdown">
    <div class="drop-btn">
      練習題庫 <span class="arrow">▼</span>
    </div>

    <div class="dropdown-content">
      <a routerLink="/first" routerLinkActive="active">第一題</a>
      <a routerLink="/second" routerLinkActive="active">第二題</a>
      <a routerLink="/third" routerLinkActive="active">第三題</a>
      <a routerLink="/forth" routerLinkActive="active">第四題</a>
      <a routerLink="/fifth" routerLinkActive="active">第五題</a>
      <a routerLink="/sixth" routerLinkActive="active">第六題</a>
      <a routerLink="/seventh" routerLinkActive="active">第七題</a>
      <a routerLink="/eighth" routerLinkActive="active">第八題</a>
      <a routerLink="/ninth" routerLinkActive="active">第九題</a>
      <a routerLink="/tenth" routerLinkActive="active">第十題</a>
      <a routerLink="/eleventh" routerLinkActive="active">第十一題</a>
      <a routerLink="/twelfth-first" routerLinkActive="active">第十二題</a>
      <a routerLink="/thirteenth" routerLinkActive="active">第十三題</a>
      <a routerLink="/forteenth" routerLinkActive="active">第十四題</a>
      <a routerLink="/fifteenth" routerLinkActive="active">第十五題</a>
      <a routerLink="/sixteenth" routerLinkActive="active">第十六題</a>
      <a routerLink="/seventeenth" routerLinkActive="active">第十七題</a>
    </div>
  </div>
</nav>
