// 子路由內容容器
.page-box {
  // 排版
  display: flex;
  flex-direction: column; // 垂直排列
  align-items: flex-start; // 水平靠左
  align-content: center;
  gap: 8px; // 元素間距

  // 盒模型
  height: auto; // 高度自適應
  width: 50vw; // 寬度為父層寬度的50%
  padding-left: 5%; // 左側內距
  padding-top: 16px; // 上側內距

  // 文字樣式
  color: black; // 背景亮色使用黑色字體
  font-weight: bold; // 粗體字

  // 背景色
  background: linear-gradient(135deg, #FFF1EB 0%, #ACE0F9 100%);

  // 毛玻璃效果
  backdrop-filter: blur(10px); // 標準Chrome等等瀏覽器寫法
  -webkit-backdrop-filter: blur(10px); // Safari/iOS寫法
  border: 1px solid rgba(255, 255, 255, 0.3);

  // 頁面陰影
  box-shadow:0 4px 30px rgba(0, 0, 0, 0.3);

  // RWD: 手機版時變寬
  @media (max-width: 600px) {
    width: 95%;             // 手機版改佔 95%
    padding: 16px;
  }

}

img{
  width: 40%;
  height: 40%;
  border: 1px solid black;
}

h1{
  font-size: 32px;
  font-weight: bold;
}

h2{
  font-size: 24px;
  font-weight: bold;
}

// 表格樣式
table,
th{
  text-align: center; // 標題文字置中
  border: 2px solid black;
}
// 表格資料樣式
td{
  text-align: left;  // 內容文字靠左
  border: 2px solid black;
}
