button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 8vh;
  padding: 8px 16px;

  color: rgb(255, 228, 228);

  background-image: linear-gradient(135deg, #ff4f8d 0%, #f93378 100%);


  border-radius: 48px;
  outline: none;
  border: 1px solid #ff4f8d;

  transition: all 0.3s ease;

  &:hover{
    box-shadow: 0 0 8px #ff4f8d79;
    text-shadow: 0 0 8px rgb(255, 228, 228);
    transform: translateY(-2px);
  }
}
