// 定義顏色粉、紫、紅等等
$neon-pink: #ff00ff;
$neon-lightpink: #dd6eff;
$neon-purple: #9d00ff;
$neon-red: #ff0055;
$glass-bg: rgba(20, 0, 30, 0.7); // 極深紫色半透明

//---------------------------------------------------------
// 分頁器樣式
@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:host {
  mat-paginator {
    @include mat.paginator-overrides((container-text-color: rgba(255, 255, 255, 0.7),
        container-background-color: transparent,
        enabled-icon-color: $neon-pink,
      ));
  }
}

// 官方未提供的樣式修改
:host::ng-deep .mat-mdc-paginator {

  // 下拉選單在分頁器中的特殊文字顏色(選中的數字)
  .mat-mdc-select-value-text {
    color: white !important;
  }

  .mat-mdc-select-arrow svg {
    fill: white !important;
  }
}

// 官方未提供(表頭排序箭頭)
:host::ng-deep.mat-sort-header-arrow svg {
  fill: white !important;
}

//---------------------------------------------------------
// 表格容器
.table-container {
  // 把mat-table修改成圓角
  border-radius: 24px; // 圓角
  overflow: hidden; // 超出部分切除

  border: 1px solid rgba($neon-pink, 0.5); // 邊框 粉 半透明
  background: $glass-bg; // 背景色:深紫色
  backdrop-filter: blur(16px); // 玻璃感
  box-shadow:
    0 0 16px rgba($neon-purple, 0.3),
    inset 0 0 8px rgba($neon-pink, 0.2); // 容器外紫光 內粉光 偏透明

  transition: all 0.5s ease; // 動畫過渡

  &:hover {
    box-shadow: 0 0 24px rgba($neon-pink, 0.4); // 表格容器發粉光 偏透明
    border-color: $neon-pink; // 邊框從半透明凝實
  }
}


.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.search-box {
  margin-bottom: 20px;
  mat-form-field {
    width: 100%;
    max-width: 400px;
  }
}

table {
  width: 100%;
}

.link-active {
  color: #3f51b5;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.text-muted {
  color: #999;
  cursor: default;
}

// 狀態標籤樣式
.status-badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: white;

  &.ongoing {
    background-color: #4caf50; // 綠色
  }
  &.ended {
    background-color: #f44336; // 紅色
  }
  &.not-started {
    background-color: #ff9800; // 橘色
  }
}
