<div class="page-box">
  <div class="exercies-first-box tech-card">
    <h1 class="box-header-box">練習一</h1>
    <div class="photo-box">
      <img src="white_dog.jpg" alt="Dog Photo" class="img-first">
      <img src="black_dog.webp" alt="Dog Photo" class="img-second">
    </div>
    <div class="blank"></div>
    <div class="input-button-box">
      <input class="input-display">
      <button class="button-display">button</button>
    </div>
  </div>
  <div class="exercies-second-box tech-card">
    <h1 class="box-header-box">練習二</h1>
    <div class="login-box">
      <h1>登入</h1>
      <p>
        <span>帳號:</span>
        <input type="text">
      </p>
      <p>
        <span>密碼:</span>
        <input type="password">
      </p>
      <button class="button-login">登入</button>
    </div>
  </div>
  <div class="exercies-third-box tech-card">
    <h1 class="box-header-box">練習三</h1>
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
      <div class="p-2 bd-highlight div-Item1">Flex item 1</div>
      <div class="bd-highlight div-Item2 align-self-end">Flex item 2</div>
      <div class="bd-highlight div-Item3 align-self-center">Flex item 3</div>
      <div class="bd-highlight div-Item4 align-self-start">Flex item 4</div>
      <div class="p-2 bd-highlight div-Item5">Flex item 5</div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight justify-content-center">
      <div class="p-2 bd-highlight div-Item1">Flex item 1</div>
      <div class="bd-highlight div-Item2 align-self-end">Flex item 2</div>
      <div class="bd-highlight div-Item3 align-self-center">Flex item 3</div>
      <div class="bd-highlight div-Item4 align-self-start">Flex item 4</div>
      <div class="p-2 bd-highlight div-Item5">Flex item 5</div>
    </div>
  </div>
</div>
