/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh; // 跟視窗一樣高
  font-family: Roboto, "Helvetica Neue", sans-serif;

  // 背景處理
  background-attachment: fixed; // 背景固定(背景色不會因捲軸而效果斷掉)
  background-repeat: no-repeat;
  background-size: cover;
}

//-------------------------------------------------------------------------
.theme-main {
  background-image: linear-gradient(135deg, #672323 0%, #d073bf 70%, #e88cff 100%);
  color: white;
}

//-------------------------------------------------------------------------
.theme-sunset {
  background-image: linear-gradient(135deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  color: #333333;
}

//-------------------------------------------------------------------------
.theme-ocean {
  background-image: linear-gradient(to right, #243b55, #141e30);
  color: white;
}

//-------------------------------------------------------------------------
.theme-tech {
  background-image: radial-gradient(circle, #7378ff, #1bffff);
  color: #333333;
}

//-------------------------------------------------------------------------
.theme-indigo {
  background-image: linear-gradient(135deg, #3cddf6 0%, #9773d0 100%);
  color: #333333;
}

//-------------------------------------------------------------------------
.theme-petalpink {
  background-image: linear-gradient(135deg, #c14ed0, #fd9b9b, #d53474);
  color: #333333;
}

//-------------------------------------------------------------------------
.theme-skyblue {
  background-image: linear-gradient(135deg, #0f172a 30%, #1b95a8 100%);
  color: #1bffff;
}
