/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh; // 跟視窗一樣高
  font-family: Roboto, "Helvetica Neue", sans-serif;

  // 背景處理
  background-attachment: fixed; // 背景固定(背景色不會因捲軸而效果斷掉)
  background-repeat: no-repeat;
  background-size: cover;
}

//-------------------------------------------------------------------------
.theme-main {
  background-image: linear-gradient(135deg, #672323 0%, #d073bf 70%, #a049b6 100%);
  color: white;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
//-------------------------------------------------------------------------
.theme-sunset {
  background-image: linear-gradient(135deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  color: #333333;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

//-------------------------------------------------------------------------
.theme-ocean {
  background-image: linear-gradient(135deg, #243b55, #141e30);
  color: white;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

//-------------------------------------------------------------------------
.theme-tech {
  background-image: radial-gradient(circle, #7378ff, #1bffff);
  color: #333333;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite; 
}

//-------------------------------------------------------------------------
.theme-indigo {
  background-image: linear-gradient(135deg, #3cddf6 0%, #9773d0 100%);
  color: #333333;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

//-------------------------------------------------------------------------
.theme-petalpink {
  background-image: linear-gradient(135deg, #c14ed0, #fd9b9b, #d53474);
  color: #333333;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

//-------------------------------------------------------------------------
.theme-skyblue {
  background-image: linear-gradient(135deg, #0f172a 30%, #1b95a8 100%);
  color: #1bffff;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
//==================
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
//==================

// 首頁的分頁器內部選單樣式
.mat-mdc-select-panel {
  background-color: rgba(20, 0, 30, 0.7) !important;
  backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 0, 255, 0.5);

  .mat-mdc-option {
    color: rgb(255, 255, 255);

    &:hover:not(.mdc-list-item--disabled) {
      background-color: rgba(255, 0, 255, 0.3);
    }

    // 選中狀態的文字顏色
    &.mdc-list-item--selected {
      background-color: rgba(255, 0, 255, 0.5) !important;

      .mdc-list-item__primary-text {
        color: white !important;
      }
    }
  }
}
